<!DOCTYPE html>
<html>
    <head>
        

        <style>
body  {
    max-width: 960px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F0F0;
}

#main-content {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
}
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="main-content" class="span12">
                    {% block content %} {%endblock %}
                </div>                
            </div>
        </div>
        

    </body>
</html>